{% extends "layout.html" %}

{% block content %}
  
  <div class="page-header">
    <h1>{{title}}</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img src="https://pbs.twimg.com/profile_images/2450268678/olxp11gnt09no2y2wpsh_normal.jpeg"><br>
      <b>Your Name</b><br>
      100 followers
    </div>
    <div class="col-md-9">
      <dl class="dl-horizontal">
      <!-- display tweets here -->
        {% for tweet in tweets %}
          <dt><a href="/users/{{tweet.name}}">{{tweet.name}}</a></dt> <dd>{{tweet.text}} <a href="/users/{{tweet.name}}/tweets/{{tweet.id}}">permalink</a></dd>
        {% endfor %}
      </dl>
    </div>
  </div>
    
{% endblock %}